<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/css/main.css">
    {{#if productCSS}}
    <link rel="stylesheet" href="/css/shop.css">
    {{/if}}

    {{#if formCSS}}
     <link rel="stylesheet" href="/css/form.css">
    {{/if}}
</head>
<body>
    <header class="main_header">
        <nav class="main_header_nav">
            <ul class="main_header_item_list">
                <li class="main_header_list_item"><a class="{{#if activeShop}}active{{/if}}" href="/">Shop</a></li>
                <li class="main_header_list_item"><a class="{{#if activeAddProduct}}active{{/if}}" href="/admin/add-product">Add product</a></li>
            </ul>
        </nav>
    </header>
    {{{ body }}}
</body>
</html>
