extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/shop.css") 

block content
        main 
            if prods.length > 0
                .grid 
                    each product in prods 
                        article.card_product_item 
                            header.card_header 
                                h1.product_title Greate Book 
                            .card_image 
                                img(src="", alt="", srcset="")
                            .card_content 
                                h2.product_price $27.834
                                p.product_description Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            .card_action 
                                button.btn AddTo Cart 
            else 
                h1 No product Yet



